{% extends "base.html" %}

{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<h2>{% trans "Set Password" %}</h2>

<div class="col-4 offset-4 mb-5 mt-5">
  <form method="post" action="{% url 'account_set_password' %}">
    {% csrf_token %}

    {{ form.non_field_errors }}

    <div class="mb-3">
      {{ form.password1.label_tag }}
      {{ form.password1|add_class:"form-control" }}
      {{ form.password1.errors }}
    </div>

    <div class="mb-3">
      {{ form.password2.label_tag }}
      {{ form.password2|add_class:"form-control" }}
      {{ form.password2.errors }}
    </div>

    <button type="submit" class="btn btn-secondary">{% trans "Set Password" %}</button>
    <a href="{% url 'core:index' %}" class="btn btn-link">{% trans "Cancel" %}</a>
  </form>
</div>

{% endblock %}
