{% extends "base.html" %}

{% load widget_tweaks %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<h2>{% trans "Complete Social Signup" %}</h2>

<div class="col-4 offset-4 mb-5 mt-5" enctype="multipart/form-data">
  <form method="post" action="{% url 'socialaccount_signup' %}">
    {% csrf_token %}

    {{ form.non_field_errors }}

    {% for field in form %}
      <div class="mb-3">
        {{ field.label_tag }}
        {{ field|add_class:"form-control" }}
        {{ field.errors }}
      </div>
    {% endfor %}

    <button type="submit" class="btn btn-secondary">{% trans "Sign Up" %}</button>
    <a href="{% url 'core:index' %}" class="btn btn-link">{% trans "Cancel" %}</a>
  </form>
</div>

{% endblock %}
