{% extends 'base.html' %}
{% block content %}

<!-- Navbar -->

  <!-- Navbar -->
  
  <!-- carousel -->

  
   <!--Main layout-->
  <main>
    <div class="mx-auto w-50">
<p>
    SwiftWebbStore is a device-driven technology company 
    founded in 2016, specialized in the sales, support, maintenance,
     and upgrade of consumer electronics, software, and online services.
</p>
<p>
    From a small storefront and website, we sold our first sets of imported gadgets like mobile phones
     and laptops to consumers. Our strategy is to offer high-quality products at competitive prices.
</p>


<p>
    SwiftWebbStore has become a household name known for its high-quality and innovative consumer 
    electronics. Over the years, we have gained a trusted
     reputation, enabling us to expand our operations locally, regionally, and globally.
</p>
</div>






</main>
    {% endblock %}


