{% extends 'base.html' %}
{% block content %}

<!-- Navbar -->

  <!-- Navbar -->
  
  <!-- carousel -->

  
   <!--Main layout-->
  <main>
    <div class="mx-auto w-50">
        <!-- Your content -->
     
<h5><b> Shipping Policy</b></h5>

<p class="site-menu js-clone-nav d-none d-md-block">Our company offers fast and reliable shipping on all purchases.

    Orders are typically processed within 1-2 business days and shipped 
    via reputable carriers such as UPS, GIG, FedEx, or DHL.</p>


<p>
    Shipping rates are based on the weight and dimensions of the product, as well 
    as the shipping destination. Shipping rates will be 
    calculated at the time of purchase and are available for review before finalizing the order.
</p>
<p>
    In-stock items will be shipped within 1-2 business days after the order is placed. 
    If an item is out of stock or unavailable for instant 
    delivery , we will notify you of the expected shipping date.
</p>
<p>
    Are you worried about any issue with customs? We know how annoying customs
     can be sometimes, so we are more than happy to help you out. Let us know what
      customs needs from you, your order number and any other related information.
       We will try our best to get everything taken care of as soon as possible.
</p>
<p>
Customers will receive a shipping confirmation email with tracking information once the order has shipped.

Please note that we do not ship to P.O. Boxes or APO/FPO addresses.

If you have any questions or concerns about your shipping, 
please contact our customer service department for assistance.
</p>



<h5><b> Returns & Exchange Policy</b></h5>

<p>
    Our company offers a 30-day return policy for all consumer electronics purchases. 
    If you are not completely satisfied with your product, you may return it for a full refund
     in 14 days or exchange it for another item within 30 days of the original purchase date.
</p>
<p>
To initiate a return, please contact our customer service department in 
14 days from purchase date for a return authorization number and shipping instructions.
 The product must be in its original packaging and in new, unused condition.

Please note that all returns are subject to a 15-30% restocking fee, and original shipping 
and handling charges are non-refundable. Refunds will be issued in the original form of payment.
</p>
<p>
Customers are responsible for all shipping and handling charges
 for returned items, and we recommend that you use a traceable shipping
  method to ensure the safe return of your product.

Defective or damaged products may be returned for a full refund or 
exchange at no additional cost. If you receive a defective or damaged product,
 please contact our customer service department within 7 days of receipt to report the issue and 
 arrange for a return or exchange.
</p>
<p>
Please note that custom-configured products, special order items, 
and software are not eligible for returns, refunds, or exchanges.

We are committed to providing our customers with quality products 
and excellent customer service. If you have any questions about our 
return policy, please contact our customer service department for assistance.
</p>





<h5><b>Terms & Conditions</b></h5>
<p></p>
<p></p>
<h3><b>Customer Care</b></h3>


<p>
    At Swiftwebbstore, we strive to provide exceptional customer care and ensure your satisfaction with our products and services. This Customer Care Policy outlines our commitment to serving you with excellence and addressing any concerns or issues you may have.
    </p>
    <p>
   1. Prompt and Responsive Service: We are dedicated to providing prompt and responsive customer service through various channels, including email, phone, and chat. Our team will make every effort to respond to your inquiries and resolve any issues in a timely and professional manner.
    </p>
    <p>
    2. Product Information and Assistance: We provide detailed product information, specifications, and usage instructions on our e-commerce store to help you make informed purchasing decisions. Our customer care team is also available to assist you with any questions or concerns you may have about our products, shipping, or returns.
    </p>
    <p>
    3. Order Processing and Tracking: We strive to process and fulfill your orders accurately and efficiently. You will receive confirmation emails with order details and tracking information to keep you informed about the status of your order. Our customer care team is available to assist you with any order-related inquiries or issues.
    </p>
    <p>
    4. Returns and Refunds: We have a clear and transparent returns and refunds policy outlined on our e-commerce store. If you encounter any issues with your order, defective products, or dissatisfaction with our services, our customer care team will work with you to address the situation and provide appropriate solutions, including returns, exchanges, or refunds, as applicable.
    </p>
    <p>
    5. Communication and Feedback: We value your feedback and encourage you to share your experiences and concerns with us. We are committed to continuously improving our products and services based on your feedback. Our customer care team is available to listen to your feedback, address any issues, and provide appropriate solutions.
</p>
<p>
    6. Privacy and Data Protection: We respect your privacy and protect your personal information in accordance with our Privacy and Safety Policy. We do not share your personal information with third parties without your consent, except as required by law or as necessary to fulfill your orders. Our customer care team is trained to handle your personal information with confidentiality and securely.
</p>
<p>
    7. Professional Conduct: Our customer care team is trained to provide professional, courteous, and respectful service to all customers. We do not tolerate any abusive, offensive, or disrespectful behavior towards our team members. We expect our customers to communicate with us in a respectful manner and refrain from engaging in any behavior that violates our code of conduct.
</p>
<p>
    8. Satisfaction Guarantee: We stand behind the quality and performance of our products and services. If you are not satisfied with your purchase or experience, please contact our customer care team, and we will make every effort to address your concerns and ensure your satisfaction.
    </p>
    <p>
    Contact Us: If you have any questions, concerns, or need assistance with your order or our products and services, please contact our customer care team using the contact information provided on our e-commerce store. We are here to serve you and provide you with the best possible customer care experience.
</p>

    <p>

    We are committed to delivering exceptional customer care and ensuring your satisfaction with our products and services. We appreciate your trust in us and strive to exceed your expectations in every interaction.
</p>


<h6><b>Privacy & Safety</b></h6>
<p>
At Swiftwebbstore, we are committed to protecting the privacy and ensuring the safety of our customers. This Privacy and Safety Policy outlines how we collect, use, store, and protect your personal information when you use our e-commerce store.
</p>
<p>
1. Collection of Personal Information: We may collect personal information such as your name, contact details, shipping address, billing address, email address, and payment information when you place an order on our e-commerce store or sign up for an account.
</p>
<p>
2. Use of Personal Information: We use your personal information to process your orders, provide customer support, communicate with you about your orders, send you promotional offers and updates, and improve our services. We may also use your personal information to prevent fraud, resolve disputes, and comply with legal requirements.
</p>
<p>
3. Data Security: We take the security of your personal information seriously and implement measures to protect it from unauthorized access, use, or disclosure. We use industry-standard security technologies, such as Secure Sockets Layer (SSL) encryption, to encrypt your personal information during transmission. We also have strict access controls and authentication processes in place to safeguard your personal information.
</p>
<p>
4. Third-Party Services: We may use third-party services, such as payment processors and shipping partners, to fulfill your orders. These third-party services may have their own privacy and security policies, and we recommend reviewing them separately.
</p><p>
5. Cookies and Tracking Technologies: Our e-commerce store may use cookies and other tracking technologies to collect information about your browsing behavior, preferences, and device information. This information is used to improve your shopping experience, analyze website traffic, and personalize content and advertisements.
</p><p>
6. Marketing Communications: If you have opted to receive marketing communications from us, we may send you promotional offers, newsletters, and updates via email or other communication channels. You have the option to opt-out of receiving marketing communications at any time by following the unsubscribe instructions in the emails or contacting us directly.
</p><p>
7. Children's Privacy: Our e-commerce store is not intended for children under the age of 13. We do not knowingly collect personal information from children, and if we become aware that we have inadvertently collected personal information from a child, we will promptly delete it from our records.
</p><p>
8. Changes to this Policy: We may update this Privacy and Safety Policy from time to time to reflect changes in our business practices or legal requirements. We encourage you to review this policy periodically for any updates.
</p><p>
9. Contact Us: If you have any questions or concerns about our Privacy and Safety Policy, or if you need to update, correct, or delete your personal information, please contact us using the contact information provided on our e-commerce store.
</p><p>
By using our e-commerce store, you agree to the terms and conditions outlined in this Privacy and Safety Policy. We are committed to protecting your privacy and ensuring the safety of your personal information while providing you with a seamless and secure shopping experience with us.
</p>



</div>
      
</main>
{% endblock %}


