{% extends 'base.html' %}

{% block content %}
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
    <!-- Container wrapper -->
    <div class="container">    
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarSupportedContent1"
        aria-controls="navbarSupportedContent1"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->

      <!-- Collapsible wrapper -->
      
      <!-- Right elements -->
      <div class="d-flex align-items-center">
        <!-- Icon -->
        <a class="nav-link me-3" href="{% url 'core:order-summary' %}">
          <i class="fas fa-shopping-cart"></i>
          <span class="badge rounded-pill badge-notification bg-danger"></span>
        </a>
  
        <a class="nav-link me-3" href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="nav-link me-3" href="#">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
      <!-- Right elements -->
      
    </div>
    <!-- Container wrapper -->
  </nav>
<!-- Navbar -->

<!--Main layout-->
<main class="mt-5 pt-4">
    <div class="container mt-5">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <img src="{{ object.image.url }}" class="img-fluid" alt="" />
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-6 mb-4">
                <!--Content-->
                <div class="p-4">
                    <div class="mb-3">
                        {% for item in object.cats.all %}
                        <a href="">
                            <span class="badge bg-dark me-1">{{ item }}</span>
                        </a>
                        {% endfor %}
                       
                    </div>

                    <p class="lead">
                      
                        {% if object.discount_price %}
                        <span class="mr-1">
                            <del>{{ item.price }} </del>
                        </span>
                        {{ object.discount_price }}
                            {% else %}
                           <span>{{ item.price }}</span> 
                            {% endif %}
                    </p>

                    <strong><p style="font-size: 20px;">Description</p></strong>

                    <p>{{ object.description }}</p>

                    <!-- <form class="d-flex justify-content-left">
                       
                        <div class="form-outline me-1" style="width: 100px;">
                            <input type="number" value="1" class="form-control" />
                        </div>
                        <button class="btn btn-primary ms-1" type="submit">
                            Add to cart
                            <i class="fas fa-shopping-cart ms-1"></i>
                        </button>
                    </form> -->
                </div>
                  <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </a>
               
            <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
                Remove from cart
              </a>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

        <hr />

        <!--Grid row-->
        <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-md-6 text-center">
                <h4 class="my-4 h4">Additional information</h4>

                <p>{{ object.description }}</p>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->

        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <!-- <div class="col-lg-4 col-md-12 mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="" />
            </div> -->
            <!--Grid column-->

            <!--Grid column-->
            <!-- <div class="col-lg-4 col-md-6 mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="" />
            </div> -->
            <!--Grid column-->

            <!--Grid column-->
            <!-- <div class="col-lg-4 col-md-6 mb-4">
                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="" />
            </div> -->
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
</main>
<!--Main layout-->

<!-- footer -->




{% endblock %}